<body style="background-color:dimgrey;">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
  
      <div class="fadeIn first" style="padding-top: 1cm;">
        <img src="assets/img/logo_geral.png" style="width: 50%; height: 50%;">
      </div>
      <h1 style="color:black;"><b>dsvarejo</b></h1>
      <h6 style="color:dimgray;">Sistema de Retaguarda de Loja</h6>
      <br>
  
      <!-- Login Form -->
      <form>      

        <div class="input-group input-group-sm mb-3" style="width: 85%; display: inline-flex;">
          <label class="input-group-text">Loja</label>
          <select class="form-select  form-select-sm"  id="empresaDropdown">
            <option *ngFor="let emp of empresas | async">
              {{emp.fantasia}}
            </option>
          </select>
        </div>



        <br>
        <div class="input-group input-group-sm mb-3" style="width: 85%; display: inline-flex;">
          <span class="input-group-text" >Usuário</span>
          <input type="text" class="form-control" id="tbUsuario" maxlength="25" style="text-transform: uppercase;">
        </div>

        <div class="input-group input-group-sm mb-3" style="width: 85%; display: inline-flex;">
          <span class="input-group-text" >Senha</span>
          <input type="password" class="form-control" id="tbSenha" maxlength="25">
        </div>


        <br><br>

        <div class="input-group input-group-sm mb-3" style="display: inline-block;">
            <button type="button" class="btn btn-primary" (click)="onClickEntrar()"  style="width: 85%; display: inline-block;">Entrar</button>
        </div>
      </form>
      <br>
  
    </div>
  </div>

</body>

<router-outlet></router-outlet>