<body style="background-color:dimgrey;">

  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
  
      <div class="fadeIn first" style="padding-top: 1cm;">
        <img src="assets/img/logo_geral.png" style="width: 50%; height: 50%;">
      </div>
      <h5 style="color:dimgray;"><b>DSVAREJO</b></h5>
      <br>
  
      <!-- Login Form -->
      <form>      

        <div class="form-group">
          
          <select class="form-control" style="width: 85%; display: inline-block;" id="empresaDropdown">
            <!-- <option *ngFor="let emp of empresas">
              {{emp.Fantasia}}
            </option> -->
          </select>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="tbUsuario" maxlength="25" placeholder="Usuário">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="tbSenha" maxlength="25" placeholder="Senha">
        </div>

        <br>

        <div class="form-group">
            <button type="button" class="btn btn-primary" (click)="onClickEntrar()"  style="width: 85%; display: inline-block;">Entrar</button>
        </div>
      </form>
      <br><br>
  
    </div>
  </div>

</body>